{{extend 'layout.html'}}

<head>
  <style>
    #header {
      background-color: black;
      color: GOLD;
      text-align: center;
      padding: 10px;
    }

    #nav {
      line-height: 30px;
      text-align: center;
      background-color: #FF9933;
      height: 100%;
      width: 100%;
      float: center;
      padding: 0px;
    }

    #footer {
      background-color: black;
      color: white;
      clear: both;
      text-align: right;
      padding: 15px;
    }

    smf {
      font-size: 70%;
    }
  </style>
</head>

<body>
  <div id="header">
    <h4>Spin Auditor<h4>
  </div>
  <div id="nav">
    <br>
    <br>
    <center>
      <TABLE BORDER="2">
        <TR>
          <TD>
            <h4>
              &nbsp &nbsp No.of Servers &nbsp &nbsp
            </h4>
          </TD>
          <TD>
            <h4>
              &nbsp &nbsp No.of Users &nbsp &nbsp
            </h4>
          </TD>
        </TR>
        <TR>
          <td>
            <h4>
              <center>{{=srv_cnt}}</center>
            </h4>
          </td>
          <TD>
            <h4>
              <center>{{=usr_cnt}} </center>
            </h4>
          </TD>
        </TR>
      </TABLE>
    </center>

    <br>
    <br>
    <br>
  </div>