{{extend 'layout.html'}}
<!DOCTYPE html>
<html>

<head>
  <style>
    table tr:nth-child(even) {
      background-color: #eee;
    }

    table tr:nth-child(odd) {
      background-color: #fff;
    }

    table th {
      background-color: orange;
      color: white;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
      text-align: center;
    }

    th {
      text-align: center;
    }
  </style>
</head>

<body>
  <br>
  <center>
    <h2> Select Instance </h2>
  </center>
  <hr>
  <br>
  <center>
    <table BORDER='2'>
      <tr>
<th><b>Ins.Id</b></th>
        <th><b>Instance name</b></th>
<th><b>Category</b></th>
          <th><b>Purpose</b></th>
        <th><b>IPV4</b></th>
        <th><b>Region</b></th>
<th><b>Last Check</b></th>
        <th><b>Action</b></th>
      </tr>
      {{for row in rows:}}
        {{query = (db.db_serverSshData.instance_id == row.instance_id)}}
        {{x = db(query).select(db.db_serverSshData.ALL, orderby=~db.db_serverSshData.id, limitby=(0, 1)).first()}}
        {{if x == None:}}
        {{lastFetch="Not Initiated"}}
        {{elif x.auth_keys == 'TimeoutError':}}
        {{lastFetch="N/A"}}
        {{elif x.auth_keys == 'ValueError':}}
        {{lastFetch="N/A"}}
        {{else:}}
        {{lastFetch=x.time_stamp}}
        {{pass}}
      <tr>{{=TD(row.id)}}{{=TD(row.name)}}{{=TD(row.category)}}{{=TD(row.purpose)}}{{=TD(row.pub_ipv4)}}{{=TD(row.hosted_region)}}{{=TD(lastFetch)}}{{=TD(A(T ("Audit") ,_href=URL("authSshGet",args=row.id)))}}</tr>
      {{pass}}
    </table>
  </center>
  <br>
  <br>
</body>

</html>