{{extend 'layout.html'}}
<!DOCTYPE html>
<html>

<head>
  <style>
    table tr:nth-child(even) {
      background-color: #dcd1d1;
    }

    table tr:nth-child(odd) {
      background-color: #fff;
    }

    table th {
      background-color: orange;
      color: #0a0101;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
      text-align: center;
    }

    th {
      text-align: center;
    }
  </style>
    <script type="text/javascript">
        var searchStyle = document.getElementById("search_style");
        document.getElementById("search").addEventListener("input", function () {
            if (!this.value) {
                searchStyle.innerHTML = "";
                return;
            }
            // look ma, no indexOf!
            searchStyle.innerHTML =
                    '.searchable:not([data-index*="' +
                    this.value.toLowerCase() +
                    '"]) { display: none; }';
            // beware of css injections!
        });
    </script>


</head>

<body>
  <br>
  <center>
    <h2> Server Details </h2>
  </center>
  <hr>
  <div class="row">
      <div class="ml-auto bg-warning">
          <div class="input-group">
              <input class="form-control border-secondary py-2" id="search" type="search" placeholder="Search"/>
          </div>
      </div>
  </div>

  <style id="search_style"></style>

  <br>
  <center>
    <table BORDER='2'>
      <tr>
        <th><b>S.no</b></th>
        <th><b>Instance name</b></th>
        <th><b>Instance ID</b></th>
        <th><b>Category</b></th>
        <th><b>Purpose</b></th>
        <th><b>PUB-IPV4</b></th>
          <th><b>Private</b></th>
        <th><b>Region</b></th>
        <th><b>Action</b></th>
      </tr>
        <ul class="search">
      {{for row in rows:}}
        <div class="searchable" data-index="{{=row.pub_ipv4}}">
      <tr>{{=TD(row.id)}}{{=TD(row.name)}}{{=TD(row.instance_id)}}{{=TD(row.category)}}{{=TD(row.purpose)}}{{=TD(row.pub_ipv4)}}{{=TD(row.pri_ipv4)}}{{=TD(row.hosted_region)}}{{=TD(A(T ("Edit") ,_href=URL("editServer",args=row.id)))}}</tr>
      {{pass}}
    </table>
  </ul>
  </center>
  <br>
  <br>



</body>

</html>