{{extend 'layout.html'}}
<form>
<INPUT id =tgt_btn class="tgt" type="button" value="get time" onclick="ajax('{{=URL('fetchTime')}}',[],'time');"/>
<INPUT type="text" id="q" name = "q" value='cat /home/ubuntu/.ssh/authorized_keys'/>
<INPUT type="button" value="send" onclick="ajax('{{=URL('sshCmd')}}',['q'],'ex');"/>
</form>

<br/>
        time :
<div id="time"> UNKNOWN </div>

<div id="exy" class="exy"> time2 </div>
<br/>
<br/>
        Echo :

<div id="ex" > ECHO : NULL </div>
<br/>

<INPUT type="button" value="Reset Value" onclick="ajax('{{=URL('resetValue')}}');"/>
<div class="one" id="a">Hello</div>
<div class="two" id="b">World</div>


<script>
jQuery(document).ready(function(){
   jQuery('.one').click(function(){jQuery('.two').slideToggle()});
});

setInterval(function(){
   jQuery('.tgt').click();
}, 2000);

setInterval(function(){
    jQuery(ajax('{{=URL('fetchValue')}}',[],'exy'))
    if (jQuery('.exy').text() > 10){
    window.location = '{{=URL('default', 'index')}}';
    }
}, 1000);
</script>

